#! stdtmpl
#proc showLogs(channel: string, rows: seq[TRow]): string =
#  result = ""
<h4>Logs for $channel</h4>
<p>Click <a href="#bottom">here</a> to scroll to the bottom. You may click on the <i class="teal-text text-lighten-1 mdi-action-label"></i> icon next to any line to get a link to that part of the log.</p>
<table class="striped">
	<thead>
		<tr>
			<td data-field="id"></td>
			<td data-field="date" style="min-width: 200px">Timestamp</td>
			<td data-field="nick">Nickname</td>
			<td data-field="message">Message</td>
		</tr>
	</thead>
	<tbody>
#for row in rows:
#var date = row[1].parseInt.fromSeconds.getGMTime.format("yyyy-MM-dd hh:mm tt")
#var id = row[0]
#var nick = row[2]
#var message = row[3]
		<tr id="message-$id">
			<td><a href="#message-$id"><i class="teal-text text-lighten-1 mdi-action-label"></i></a></td>
			<td>$date</td>
			<td>$nick</td>
			<td>$message</td>
		</tr>
#end for
	</tbody>
</table>
<i id="bottom"></i>
<br /><br />
#end proc
