#! stdtmpl
#proc baseTemplate(content: string, title: string = "Logmon"): string =
#  result = ""
<!DOCTYPE html>
<html>
	<head>
#if title != "Logmon":
		<title>$title - Logmon</title>
#else:
		<title>Logmon</title>
#end if
		<link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<meta name="google-site-verification" content="5Ozy6FUFlUvRBL8x7C0T-YMhA5V-w36OvF65IRiRLoU" />
	</head>
	<body>
		<nav class="light-blue lighten-1" role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Tulpa.im</a>
			</div>
		</nav>

		<div class="section no-pad-bot" id="index-banner">
			<div class="container">
			$content
			</div>
		</div>

		<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/static/js/materialize.min.js"></script>
	</body>
</html>
# end proc
